body {
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}

#sidebar {
    position: absolute;
    bottom:0;
    width: 100%;
    height: 300px;
    padding: 15px;
    background: rgba(255,255,255,0.4);
}

#title {
    display: flex;
    justify-content: center;
    margin: 0;
}

#teams {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#teams .team-select {
    margin: 0.33em 0.5em;
    background-color: #fff;
    padding: 1.3em 2em;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    font-size: 1em;
    border-color: #D3D3D3;
    border-width: 1px;
    border-style: solid;
}
